.container {
	display: flex;
    flex-direction: column;
	height: 700px;
}
.title, .color {
	color: #FFF;
}
.btn-groups {
}
button {
	padding: 10px 12px;
	margin-right: 0.5rem;
}
.color {
	margin-top: 7rem;
	font-size: 25px;
}